@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');


body {
    display: grid;
    grid-template: "header header header header header" 50px
                   "sidebar main main main main" 33%
                   "sidebar main main main main" 33%
                   "sidebar main main main main" 33% /
                   1fr 1fr 1fr 1fr 1fr;
    font-family: 'Roboto';
}

/* ------------ HEADER ------------- */

header {
    grid-area: header;
}

.menu-nav {
    display: flex;
    justify-content: space-between;

}

.menu-esquerdo {
    width: 146px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.icone-yt {
    width: 90px;
    height: 20px;
}

.pesquisa {
    width: 404px;
    height: 40px;
    display: flex;
    align-items: center;
}

.icone-pesquisa {
    border: 1px solid #CCCCCC;
    width: 57px;
    height: 40px;   
    display: flex;
    align-items: center;
    text-align: center;
}

.icone-pesquisa img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.area-pesquisa {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
    display: flex;
}

.menu-direito {
    width: 130px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.avatar-conta {
    width: 34px;
    height: 34px;
}


/* ------------ ASIDE ------------- */

aside {
    grid-area: sidebar;
    margin-left: 10px;
    padding: 20px;
}

aside p {
    margin-left: 15px;
}

.menu-inicio {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
    
}

.menu-explorar {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-inscricoes{
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-music {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-like {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-assistir {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-downloads {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-filmes {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-aprender {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu-esportes {
    width: 200px;
    height: 24px;
    display: flex;
    padding: 10px;
    align-items: center;
}

/* ------------ MAIN ------------- */

main {
    grid-area: main;
    background-color: #f7f7f7;
    padding: 20px;
}

.videos {
    margin: 10px;
    gap: 20px;
    padding: 15px;
    display: grid;
    grid-template: "video-1 video-2 video-3 video-4"
                   "video-5 video-6 video-7 video-8"
                   "video-9 video-10 video-11 video-12" /
                   2fr 2fr 2fr 2fr;
}

.videos img {
    width: 250px;
    height: 140px;
}

.video-details {
    width: 250px;
    text-align: justify;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.video-details img {
    width: 42px;
    height: 42px;
    
}

.video-details h3,p {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    width: 195px;
    display: inline-block;
    margin: 0;
}

.video-details h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.video-details p {
    margin-left: 55px;
}